.container {
    width: 1170px;
    height: auto;
    margin: 0 auto;
}
.container .food {
    width: 1170px;
    height: 300px;
}
.table{
    height: 200px;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}
.container .home{
    width: 1170px;
    height: 400px;
}
/* .home img{
    height: 300px;
    width: 300px; 

} */
.home{
    background: linear-gradient(130deg, #476DB3 60% ,#DAFDBA 40%);
}
.home .header{
    width: 1170px;
    height: auto;
    margin: 0 auto;
}
.home .header img{
    float: left;
}
.home .header h5 {
    text-align: right;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}
.home .header h4{
    text-align: right;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
}
.home .navbar{
    width: 1170px;
    height: 30px;
    margin: 0px;
}
.navbar ul{
    list-style-type: none;

}
.navbar ul li a{
    text-decoration: none;
    float: right;
    padding: 20px;
    color: black;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: small;
}
.navbar ul li a:hover{
    background-color: black;
    color: white
}
.home .intro{
    width: 1170px;
    height: auto;
    margin: 0 auto;
}
.intro h2{
    font-family: 'Lobster';
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
}
.intro h1{
    font-family: 'Fredericka the Great';
    font-weight: 400;
    height: auto;
    width: 60%;
    margin: 0 auto;
    font-size: 72px;
    margin: 0px;
    text-align: center;
    float: left;
}
.intro img{
    position: absolute;
    right: 150px;
    top: 100px;
    max-width: 60%;
    left: 600px;
}
.intro p {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin: 0px;
    text-align: center;
    width: 65%;
    float: left;

}

.container .contact{
    width: 1170px;
    height: 300px;
}
.container .contact .content {
    width: 650px;
    height: 300px;
    float: left;
    background-color: black;
}
.container .contact .content .logo {
    width: 650px;
    height: 100px;
    background-color: black;
}
.container .contact .content .description {
    width: 650px;
    height: 150px;
    background-color: black;
    color: white;
}
.container .contact .content .description p{
    color: #fff;
    font-size: small;
}

.container .contact .address {
    width: 520px;
    height: 300px;
    float: left;
    background-image: url(/webtemplate/food\ images/address-bg.jpg);
}


